%logo{    width: 100px;
    transition: all 0.5s ease;
    &:hover{

        transform: scale(1.04);
        transition: 1s;
        border-radius: 500px;
        box-shadow: 0 0 40px #6cda1d;
     }
    }